<div class="landing-page">
  <div class="landing-page_content">
    <div class="hero-heading-container">
      <h3>This is</h3>
      <h1 class="hero-heading">P-YEB 1 Enterprise</h1>
    </div>
    <div class="main-content-container">
      <section>
        <div class="hero-caption-text">
          <div class="icons-container">
            <i class="bi bi-telephone" title="call us"></i>
            <i class="bi bi-envelope-paper" title="email us"></i>
            <i class="bi bi-clock" title="opening hours"></i>
          </div>
          <div class="context-container">
            <h5>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nulla
              quis deleniti quae sapiente quam blanditiis reprehenderit debitis animi ea
              molestias voluptatem sunt vel suscipit amet, quas ratione tempore totam.
            </h5>
          </div>
        </div>

      </section>
      <div class="landing-hero__links">
        <p>Browse our website today and discover how we can help you stay ahead of the curve in the constantly evolving
          automotive industry. Whether you're looking to purchase high-quality electronics or enroll in comprehensive
          training programs, we have everything you need to succeed.</p>
        <ul>
          <li>
            <button routerLink="/shop/home">I WANT TO SHOP</button>
          </li>
          <li >
            <button routerLink="/training" disabled>I WANT TO TRAIN page under construction</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hero-image-container">
    <img src="assets/images/car/car-parts-1024x683.jpg" alt="" />
  </div>
</div>