<footer>

    <div class="footer-context-wrapper">
        <div class="">
            <h3 class="footer_headers">INFO</h3>
            <ul>
                <li>
                    <div class="opening_hours">
                        <h4><i class="bi bi-clock"></i></h4>
                        <ol>
                            <li>Monday</li>
                            <li>Tuesday</li>
                            <li>Wednesday</li>
                            <li>Thursday</li>
                            <li>Friday</li>
                        </ol>

                    </div>
                </li>
                <li>
                    <div class="call_us">
                        <h4><i class="bi bi-telephone"></i></h4>
                        <a class="tel" href="tel:+233 243749456">+233 243749456</a>
                    </div>
                </li>
                <li>
                    <div class="email_us">
                        <h4><i class="bi bi-envelope-at"></i></h4>
                        <a class="mailto" href="mailto:patrickyeboah@gmail.com">patrickyeboah@gmail.com</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="">
            <h3 class="footer_headers">Our Services</h3>
            <ul>
                <li><span>Plot 2 Block 2, Abrepo</span></li>
                <li><span>Near the main street</span></li>
                <li><span>Kumasi</span></li>
                <li><span>Kumasi Metropolitan</span></li>
                <li><span>Ashanti</span></li>
                <li><span>P.O.BOX BA 348, BANTAMA - KUMASI</span></li>
                <li><span>Ghana</span></li>
            </ul>
        </div>
        <div class="address-details">
            <h3 class="footer_headers">Visit us</h3>
            <ul>
                <li><strong>House/Building/Flat N°:</strong><span>Plot 2 Block 2, Abrepo</span></li>
                <li><strong>Street:</strong><span>Near the main street</span></li>
                <li><strong>City:</strong><span>Kumasi</span></li>
                <li><strong>District:</strong><span>Kumasi Metropolitan</span></li>
                <li><strong>Region:</strong><span>Ashanti</span></li>
                <li><strong>P.O.Box NO/PMB/DTD:</strong><span>P.O.BOX BA 348, BANTAMA - KUMASI</span></li>
                <li><strong>Country:</strong><span>Ghana</span></li>
            </ul>
        </div>
    </div>
</footer>