<div class="accessories-wrapper">
    <div class="accessories-header">
        <h2>Available Accessories</h2>
    </div>
    <div class="accessories-content">
        <div class="accessories-item">
            <div class="item-image">
                <img src="assets/images/shop/pc/macbook.png" alt="">
            </div>
            <div class="item-description">
                <h3 class="item-name">MacBook Pro</h3>
                <p class="item-context">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, fuga?</p>
            </div>
        </div>
    </div>
</div>
