<div class="dasboard-container">
    <div class="actions-container">
        <button class="worshop-btn" type="button" routerLink="/admin/workshop">
            Go to workshop
        </button>
        <button class="shop-btn" type="button" routerLink="/admin/online-shop">
            go to shop
        </button>
        <button class="shop-btn" type="button" routerLink="/admin/landing-page">
            go to landing page
        </button>
    </div>
    <div class="go-home" routerLink="/landing" title="Go to Landing page"><i class="bi bi-house"></i></div>
</div>