.dasboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: white;
  .actions-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    button {
      width: 20%;
      height: 7rem;
      border: none;
      border-radius: 1rem;
      background: white;
      text-transform: uppercase;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      &:active {
        background-color: rgb(248, 246, 246);
      }
    }
  }
  .go-home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8rem;
    right: 8rem;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(132, 132, 244);
    color: white;
    cursor: pointer;
  }
}
