<div class="workshop_hero">

    <div class="hero_bottom_caption">
        <div class="hero_bottom_caption_content_container">
            <div class="hero_bottom_caption_content">
                <h4>MECHANICS</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, suscipit!</p>
            </div>
            <div class="hero_bottom_caption_content">
                <h4>CAR ACCESSORIES</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, suscipit!</p>
            </div>
            <div class="hero_bottom_caption_content">
                <h4>BREAKDOWN SERVICES</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, suscipit!</p>
            </div>
        </div>
    </div>
</div>